[flake8]
max-line-length = 120
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    venv,
    concourse,
    instance/config.py,
    vulnerable_people_form/static,
    vulnerable_people_form/templates
