email-validator==1.1.2
Flask==2.0.0
Flask-WTF==0.14.3
govuk-frontend-jinja==1.2.1
phonenumbers==8.12.23
boto3==1.17.53
python-stdnum==1.16
oic==1.2.1
blinker==1.4
gunicorn==20.1.0
sentry-sdk==1.1.0
flask-talisman == 0.7.0
bleach == 3.3.0
prometheus-client==0.11.0
gds-metrics==0.2.4
PyYAML==5.4.1
pytz==2021.1
PyJWT==2.1.0
