{%- from 'govuk_frontend_jinja/components/select/macro.html' import govukSelect -%}

{% extends "form-base.html" %}


{% block form_fields %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{title_text}}</h1>
  <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-3">Postcode</h2>
<p class="govuk-body">
<span class="govuk-!-font-weight-bold govuk-!-padding-right-3">{{postcode | postcode_with_spaces }}</span>
<a href="{{ append_querystring_params("/postcode-lookup") }}" class="govuk-link govuk-link--no-visited-state" id="change-postcode">change<span class="govuk-visually-hidden"> postcode</span></a>
</p>
{{ 
govukSelect({
  "id": "address",
  "name": "address",
  "errorMessage": error_messages.get("postcode"),
  "label": {
    "text": "Select your address",
    "classes": "govuk-label--m"
  },
  "heading_size": "m",
  "items": addresses,
  }) 
  }}
  <p class="govuk-body">
    <a class="govuk-link" href="{{ append_querystring_params("/support-address") }}" id="my-address-is-not-listed-or-wrong">My address isn't listed or is wrong</a>
  </p>
{% endblock %}
{% block form_end %}
    <p class="govuk-body">Contains Royal Mail data &copy; Royal Mail copyright and database rights 2020</p>
{% endblock %}
