{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% macro obtain_cookie_consent() -%}
<div id="global-cookie-message" class="cookie-banner govuk-clearfix govuk-!-padding-bottom-4 govuk-!-padding-top-4" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet>
  <div class="cookie-banner__wrapper govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds cookie-banner">
        <h2 class="govuk-heading-m">Can we store analytics cookies on your device?</h2>
        <p class="govuk-body">Analytics cookies help us understand how this service is being used.</p>

        <div class="cookie-banner__buttons">
            {{ govukButton({
              "attributes": { "id": "accept-cookies", "data-module": "track-click", "data-accept-cookies": "true" },
              "classes": "govuk-!-margin-right-3 govuk-!-margin-bottom-2",
              "text": "Yes"
            }) }}
            {{ govukButton({
              "text": "No",
              "attributes": { "id": "refuse-cookies", "data-module": "track-click", "data-hide-cookie-banner": "true" },
              "classes": "govuk-!-margin-right-3 govuk-!-margin-bottom-2",
              "text": "No"
            }) }}
          <a class="cookie-banner__link govuk-link govuk-body-m govuk-!-margin-bottom-0" href="/cookies">How this service uses cookies</a>
        </div>

      </div>
    </div>
  </div>
   <div class="cookie-banner__confirmation govuk-width-container govuk-!-padding-top-1" tabindex="-1">
    <p class="cookie-banner__confirmation-message govuk-!-margin-top-0 govuk-!-margin-right-4 govuk-body" role="alert">You’ve accepted analytics cookies. You can <a class='govuk-link' href='/cookies'>change your cookie settings</a> at any time.</p>
    <button class="cookie-banner__hide-button govuk-body-m govuk-!-margin-bottom-0" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
  </div>
</div>
{%- endmacro %}
