{% extends 'govuk_frontend_jinja/template.html' %}

{%- from 'analytics_cookie_banner.html' import obtain_cookie_consent %}
{%- from 'govuk_frontend_jinja/components/footer/macro.html' import govukFooter -%}

{% set assetPath = url_for('static', filename='').rstrip('/') %}
{% block pageTitle %}
  {{title_text}} - coronavirus shielding support - GOV.UK
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-3.7.0.min.css') }}" /><!--<![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-ie8-3.7.0.min.css') }}" /><![endif]-->
  {% block meta_tags %}
  {% endblock %}
{% endblock %}

{% block bodyStart %}
  <!-- govuk-frontend 'js-enabled' css class initialisation -->
  <script nonce="{{ csp_nonce() }}">
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
{% if not cookie_preferences_set %}
    {{ obtain_cookie_consent() }}
{% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block centered_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'meta': {
      'items': [
        {
          'href': "/privacy",
          'text': "Privacy"
        },
        {
          'href': "/cookies",
          'text': "Cookies"
        },
        {
          'href': "/accessibility-statement",
          'text': "Accessibility statement"
        },
        {
           'href': "https://www.gov.uk/coronavirus-local-help",
           'text': "Contact your local authority for help using this service"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ url_for('static', filename='js/stripPII.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cookie-settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
  <script src="{{ url_for('static', filename='js/govuk-cookie-banner.js') }}"></script>
  <script src="{{ url_for('static', filename='js/application.js') }}"></script>
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='govuk-frontend-3.7.0.min.js') }}"></script>
  <!--<![endif]-->
  <script nonce="{{ csp_nonce() }}">appInit("{{ga_tracking_id}}","{{ga_cross_domain_tracking_id}}");</script>
{% endblock %}
