{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "basic_care_needs",
      "name": "basic_care_needs",
      "errorMessage": error_messages.get('basic_care_needs'),
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "items": radio_items,
    }) }}
{% endblock %}
