{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% extends "form-base.html" %}

{% set hintHtml %}
  {{ govukInsetText({
      'text': "For now, we’ll need to leave deliveries on the doorstep."
  }) }}
{% endset -%}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "carry_supplies",
      "name": "carry_supplies",
      "errorMessage": error_messages.get('carry_supplies'),
      "hint": {
        "html": hintHtml,
      },
      "fieldset": {
        "legend": {
          "text": "Is there someone in the house who’s able to carry a delivery of supplies inside?",
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--xl"
        }
      },
      "items": radio_items,
    }) }}
{% endblock %}
