{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% extends "base-with-home-breadcrumb.html" %}

{% block centered_content %}
  <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {{ title_text }}
  </h1>
  <p class="govuk-body"> Check your answers first.</p>
    {{ govukSummaryList({
      "rows": summary_rows,
    }) }}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Now send your application</h2>
    <p class="govuk-body">By submitting this application you’re confirming that, as far as you know, the details you’re providing are correct.</p>
    <form method="post">
      {{ govukButton({
        "text": "Accept and send",
        "preventDoubleClick": true,
        "type": "submit",
      }) }}
    </form>
{% endblock %}
