{%- from 'govuk_frontend_jinja/components/panel/macro.html' import govukPanel -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% extends "base.html" %}

{% block centered_content %}
  {{ govukPanel({
    "titleText": title_text,
  }) }}
  <h2 class="govuk-heading-m">Your registration number is {{ registration_number }}</h2>
  <h2 class="govuk-heading-m">If you need urgent help</h2>
  <p class="govuk-body">If you need urgent help <a class="govuk-link" href="https://www.gov.uk/coronavirus-local-help">Contact your local authority</a> if you need supplies urgently and cannot rely on family, friends or neighbours.</p>

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">We'll check your details and send you an email, SMS or letter to confirm whether you're eligible and when to expect any support you asked for.</p>
  <p class="govuk-body">There’s guidance on <a class="govuk-link" href="https://www.gov.uk/coronavirus-extremely-vulnerable-guidance">things you should do if you’re extremely vulnerable to coronavirus</a>.
  <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/done/coronavirus-extremely-vulnerable">Give feedback on this service</a> (it takes 2 minutes).</p>
{% endblock %}
