{%- from 'govuk_frontend_jinja/components/panel/macro.html' import govukPanel -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% extends "base.html" %}

{% block centered_content %}
  {{ govukPanel({
    "titleText": title_text,
    "html": "Your registration number is<br><strong>" + registration_number + "</strong>"
  }) }}

  <h2 class="govuk-heading-m">If you need urgent help</h2>
  <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/coronavirus-local-help">Contact your local authority</a> right away if you need urgent help and cannot rely on friends, family or neighbours.</p>

  <h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">We’ll check your details and send you an email, text message or letter to confirm whether you’re eligible and when you’ll get any support you asked for.</p>
  <p class="govuk-body">There’s <a class="govuk-link" href="https://www.gov.uk/coronavirus-extremely-vulnerable-guidance">guidance on what to do if you’re clinically extremely vulnerable to coronavirus</a>.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/done/coronavirus-shielding-support">Give feedback on this service</a> (takes 2 minutes)</p>
{% endblock %}
