{%- from 'govuk_frontend_jinja/components/date-input/macro.html' import govukDateInput -%}

{% extends "form-base.html" %}


{% block form_fields %}
{{ govukDateInput({
  "id": "date_of_birth",
  "name": "date_of_birth",
  "errorMessage": error_messages.get('date_of_birth'),
  "fieldset": {
    "legend": {
      "text": "What is your date of birth?",
      "isPageHeading": true,
      "classes": "govuk-fieldset__legend--xl"
    }
  },
  "hint": {
    "text": "For example, 31 3 1980"
  },
  "items": [
    {
      "name": "day",
      "classes": "govuk-input--width-2",
      "autocomplete": "bday-day",
      "value": values.get('day')
    },
    {
      "name": "month",
      "classes": "govuk-input--width-2",
      "autocomplete": "bday-month",
      "value": values.get('month')
    },
    {
      "name": "year",
      "classes": "govuk-input--width-4",
      "autocomplete": "bday-year",
      "value": values.get('year')
    }
  ]
}) }}
{% endblock %}
