{%- from 'govuk_frontend_jinja/components/date-input/macro.html' import govukDateInput -%}

{% extends "form-base.html" %}


{% block form_fields %}
{{ govukDateInput({
  "id": "date_of_birth",
  "name": "date_of_birth",
  "errorMessage": error_messages.get('date_of_birth'),
  "fieldset": {
    "legend": {
      "text": title_text,
      "isPageHeading": true,
      "classes": "govuk-fieldset__legend--l"
    }
  },
  "hint": {
    "html": "<p>Answer for the person who is shielding.<br/>For example, 31 3 1980</p>"
  },
  "items": [
    {
      "name": "day",
      "classes": "govuk-input--width-2",
      "autocomplete": "bday-day",
      "value": values.get('day')
    },
    {
      "name": "month",
      "classes": "govuk-input--width-2",
      "autocomplete": "bday-month",
      "value": values.get('month')
    },
    {
      "name": "year",
      "classes": "govuk-input--width-4",
      "autocomplete": "bday-year",
      "value": values.get('year')
    }
  ]
}) }}
{% endblock %}
