{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% extends "form-base.html" %}

{% set hintHtml %}
  <p class="govuk-body">
    For example, you’re a vegetarian or you have a food allergy.
  </p>
  {{ govukInsetText({
      'text': "For now, food supplies will be delivered in standard packages. Check the ingredients lists carefully if you have a food allergy or follow a special diet. If you have special dietary requirements, some of the food may not meet them."
  }) }}
{% endset -%}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "dietary_requirements",
      "name": "dietary_requirements",
      "errorMessage": error_messages.get('dietary_requirements'),
      "hint": {
        "html": hintHtml,
      },
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--xl"
        }
      },
      "items": radio_items,
    }) }}
{% endblock %}
