{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "do_you_have_someone_to_go_shopping_for_you",
      "name": "do_you_have_someone_to_go_shopping_for_you",
      "errorMessage": error_messages.get('do_you_have_someone_to_go_shopping_for_you'),
      "hint": {
        "html": "<p>For example a friend, family member or volunteer.</p><p>Priority supermarket slots are only available to people who do not have someone to go shopping for them.</p>"
      },
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "items": radio_items,
    }) }}
    <p class="govuk-hint">If this changes you will need to come back and tell us.</p>
{% endblock %}
