{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "do_you_have_someone_to_go_shopping_for_you",
      "name": "do_you_have_someone_to_go_shopping_for_you",
      "errorMessage": error_messages.get('do_you_have_someone_to_go_shopping_for_you'),
      "hint": {
        "html": "<p>For example a friend, family member or partner.</p><p>If you do not have someone you can rely on to go shopping for you, you’ll be able to ask for priority access to supermarket deliveries so you can avoid unnecessary trips to the shops.</p><p>If this changes you’ll need to come back and tell us.</p>"
      },
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "items": radio_items,
    }) }}
{% endblock %}
