{%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% extends "base-with-back-link.html" %}

{% block centered_content %}
    <form method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if error_list != None and error_list|length > 0 %}
            {{ govukErrorSummary({
              "titleText": "There is a problem",
              "errorList": error_list            
             }) }}
        {% endif %}
        {% block form_fields %}
        {% endblock %}
        {{ govukButton({
          "text": button_text|default("Continue", true),
          "type": "Submit",
          "preventDoubleClick": true,
        }) }}
    </form>
{% endblock %}
