{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/fieldset/macro.html" import govukFieldset %}

{% extends "form-base.html" %}


{% block form_fields %}



{% call govukFieldset({
  "legend": {
    "text": title_text,
    "classes": "govuk-fieldset__legend--l",
    "isPageHeading": true
  }
}) %}



<br />
<p class="govuk-body">1. Your clinician or GP has added you to the Shielded Patient List because, based on their clinical judgement, they deem you to be at high risk of serious illness if you catch the virus</p>
<p class="govuk-body">2. You have been identified through the COVID-19 Population Risk Assessment as potentially being at high risk of serious illness if you catch the virus (more information is at <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://digital.nhs.uk/coronavirus/risk-assessment/population">https://digital.nhs.uk/coronavirus/risk-assessment/population</a>).</p>
<p class="govuk-body">3. You: </p>

<ul class="govuk-list govuk-list--bullet app-list--spaced">
  <li>have had a solid organ transplant</li>
  <li>have any cancer and are getting chemotherapy</li>
  <li>have lung cancer and are getting radical radiotherapy</li>
  <li>have cancer of the blood or bone marrow, at any stage of treatment - for example, leukaemia, lymphoma or myeloma</li>
  <li>have any cancer for which you’re getting immunotherapy or other continuing antibody treatments</li>
  <li>have any cancer for which you’re getting a targeted treatment which can affect the immune system - for example, protein kinase inhibitors or PARP inhibitors</li>
  <li>have had bone marrow or stem cell transplants in the last 6 months, or are still taking immunosuppression drugs</li>
  <li>have a severe respiratory condition - including cystic fibrosis, severe asthma or severe COPD (Chronic Obstructive Pulmonary Disease)</li>
  <li>have a rare disease or inborn error of metabolism that significantly increases your risk of infection - for example SCID or homozygous sickle cell</li>
  <li>are getting an immunosuppression therapy that’s sufficient to significantly increase your risk of infection</li>
  <li>are an adult with Down’s syndrome</li>
  <li>are an adult with chronic kidney disease (Stage 5)</li>
  <li>are pregnant, and have a significant congenital or acquired heart disease</li>
  <li>have another medical condition that your doctor has told you means you’re classed as clinically extremely vulnerable</li>
</ul>

    {{ govukRadios({
      "idPrefix": "medical_conditions",
      "name": "medical_conditions",
      "errorMessage": error_messages.get('medical_conditions'),
      "items": radio_items}) }}

{% endcall %}

{% endblock %}
