{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "nhs_registration",
      "name": "nhs_registration",
      "errorMessage": error_messages.get('nhs_registration'),
      "hint": {
        "text": "Your registration is now complete, and your results have been submitted and saved. By registering an NHS Login account with this service you will be able to retrieve answers in the future."},
      "fieldset": {
        "legend": {
          "text": title_text, 
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--xl"
        }
      },
      "items": radio_items,
    }) }}
{% endblock %}
