{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "nhs_letter",
      "name": "nhs_letter",
      "errorMessage": error_messages.get('nhs_letter'),
      "hint": {"html": "
          <div class='govuk-!-padding-top-3'>
              <p class='govuk-body'>For example, you may have had a letter from the NHS or your doctor.</p>
          </div>
      ",},
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "items": radio_items}) }}
    {{ govukDetails({
      "summaryText": "Who is classified as Clinically Extremely Vulnerable",
      "html": "<p class='govuk-body'>The NHS has <a class='govuk-link' rel='noreferrer noopener' target='_blank' href='https://www.nhs.uk/conditions/coronavirus-covid-19/people-at-higher-risk/'>information on who is classed as clinically extremely vulnerable</a>.</p>"
    }) }}
{% endblock %}

