{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}

{% extends "base.html" %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ title_text }}</h1>
    <div class="govuk-!-padding-bottom-3">
        <p class="govuk-body">We have saved any changes you made.</p>
        <p class="govuk-body"><a class="govuk-link" href="{{ continue_url }}">Back to the get coronavirus support start page</a></p>
    </div>
{% endblock %}
