{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "nhs_letter",
      "name": "nhs_letter",
      "errorMessage": error_messages.get('nhs_letter'),
      "hint": {"html": "
          <div class='govuk-!-padding-top-3'>
              <p class='govuk-body'> For example, you may have had a letter from the NHS or been told to shield by your doctor.</p>
              <p class='govuk-body'>'Shielding' means staying at home and keeping contact with other people to a minimum.</p>
          </div>
      ",},
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--xl"
        }
      },
      "items": radio_items}) }}
{% endblock %}
