{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% extends "base-with-back-link.html" %}

{% block centered_content %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    {{ title_text }}
  </h1>
  <p class="govuk-body">If you live in England, your postcode is missing from our system. This means you’ll need to <a class="govuk-link" href="https://www.gov.uk/coronavirus-local-help">contact your local authority</a> if you need support.</p>
  <p class="govuk-body">You won’t get the support you need if you do not contact your local authority.</p>
  <h2 class="govuk-heading-m">If you're not in England</h2>
  <p class="govuk-body">This service is only available in England. There’s guidance if you live in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="https://www.health-ni.gov.uk/coronavirus">Northern Ireland</a></li>
    <li><a class="govuk-link" href="https://www.gov.scot/publications/covid-shielding-contacts/">Scotland</a></li>
    <li><a class="govuk-link" href="https://gov.wales/get-coronavirus-support-extremely-vulnerable-person">Wales</a></li>
  </ul>
  <p class="govuk-body">We won’t store information you entered into this service.</p>
{% endblock %}
