{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% extends "base-with-back-link.html" %}

{% block centered_content %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    {{ title_text }}
  </h1>
  <p class="govuk-body">You're not in an area where people are being advised to 'shield' at the moment.</p>
  <p class="govuk-body">You can read <a class="govuk-link" href="https://www.gov.uk/coronavirus-extremely-vulnerable-guidance">general guidance on protecting yourself if you're clinically extremely vulnerable to coronavirus</a>.
  <p class="govuk-body">There’s also guidance if you live in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="https://www.health-ni.gov.uk/coronavirus">Northern Ireland</a></li>
    <li><a class="govuk-link" href="https://www.gov.scot/publications/covid-shielding-contacts/">Scotland</a></li>
    <li><a class="govuk-link" href="https://gov.wales/get-coronavirus-support-extremely-vulnerable-person">Wales</a></li>
  </ul>
  <p class="govuk-body">We won’t store the information you entered into this service.</p>
{% endblock %}
