{% extends "base.html" %}

{% block centered_content %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    {{ title_text }}
  </h1>
  <p class="govuk-body">Your postcode is missing from our system. This means you’ll need to <a class="govuk-link" href="https://www.gov.uk/coronavirus-local-help">contact your local authority</a>if you need support.</p>
  <p class="govuk-body">You won’t get the support you need if you do not contact your local authority.</p>
{% endblock %}
