{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% extends "base-with-back-link.html" %}

{% block centered_content %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    {{ title_text }}
  </h1>
  <p class="govuk-body">Your area is not in Tier 3 (Very High Alert), so you cannot get help through this service at the moment.</p>
  <p class="govuk-body">If your area goes into Tier 3, go through the questions again: <a class="govuk-link" href="https://www.gov.uk/coronavirus-shielding-support">www.gov.uk/coronavirus-shielding-support</a>.</p>
  <p class="govuk-body">Make sure you’re up to date with what you can and cannot do as someone who’s clinically extremely vulnerable to coronavirus: <a class="govuk-link" href="https://www.gov.uk/coronavirus-extremely-vulnerable-guidance">www.gov.uk/coronavirus-extremely-vulnerable-guidance</a>.</p>

  <p class="govuk-body">There’s also guidance if you live in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="https://www.health-ni.gov.uk/coronavirus">Northern Ireland</a></li>
    <li><a class="govuk-link" href="https://www.gov.scot/publications/covid-shielding-contacts/">Scotland</a></li>
    <li><a class="govuk-link" href="https://gov.wales/get-coronavirus-support-extremely-vulnerable-person">Wales</a></li>
  </ul>
  <p class="govuk-body">We won’t store the information you entered into this service.</p>
{% endblock %}
