{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% extends "base-with-back-link.html" %}

{% block centered_content %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    {{ title_text }}
  </h1>
  <p class="govuk-body">This service is for people who are classed as clinically extremely vulnerable to coronavirus.</p>
  <p class="govuk-body">You can read <a class="govuk-link" href="https://www.gov.uk/coronavirus">general guidance on how to protect yourself from coronavirus</a>.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/coronavirus-local-help">Contact your local authority</a> if you need help urgently and cannot rely on family, friends or neighbours.</p>
  <p class="govuk-body">If your medical condition changes or your GP or hospital clinician tells you that you’re classed as clinically extremely vulnerable, go to <a class="govuk-link" href="https://www.gov.uk/coronavirus-shielding-support">www.gov.uk/coronavirus-shielding-support</a> and answer the questions again.</p>
  <p class="govuk-body">We won’t store the information you entered into this service.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/done/coronavirus-shielding-support">Give feedback on this service</a> (takes 2 minutes).</p>
{% endblock %}
