{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}

{% extends "form-base.html" %}


{% block form_fields %}
  <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ title_text }}</h1>
  {% if not nhs_user %}
    <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-9">Answer for the person who needs support</p>
  {% endif %}
{{ 
govukInput({
  "label": {
    "text": "Postcode"
  },
  "id": "postcode",
  "name": "postcode",
  "autocomplete": "postal-code",
  "errorMessage": error_messages.get("postcode"),
  "attributes": {
    "spellcheck": "false"
  },
  "value": values.get("postcode")
  }) 
}}
{% endblock %}
