{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}

{% extends "form-base.html" %}


{% block form_fields %}
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <label class="govuk-label govuk-label--l" for="postcode">{{ title_text }}</label>
    </h1>
{{ 
govukInput({
  "label": {
    "text": "Postcode"
  },
  "id": "postcode",
  "name": "postcode",
  "autocomplete": "postal-code",
  "errorMessage": error_messages.get("postcode"),
  "attributes": {
    "spellcheck": "false"
  },
  "value": values.get("postcode")
  }) 
}}
{% endblock %}
