{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}
{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "priority_supermarket_deliveries",
      "name": "priority_supermarket_deliveries",
      "errorMessage": error_messages.get('priority_supermarket_deliveries'),
      "hint": {
        "text": "This just gives you priority. It does not mean that you'll definitely be able to get a delivery slot."
      },
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--xl"
        }
      },
      "items": radio_items,
    }) }}
    {{ govukDetails({
      "summaryText": "What information about you is shared with supermarkets",
      "html": "
      <div class='govuk-body'>
      <p>We share you name, address and contact details with these supermarkets so they can find you in their system and offer you priority slots.</p>
      <p>Supermarkets will keep this information until it's clear that we will not need to ask people to shield in the future.</p>
      <p>You will need to create accounts with the supermarkets if you do not already have them.</p>
      <p>Supermarkets involved:</p>
      <ul class='govuk-list govuk-list--bullet'>
          <li>ASDA</li>
          <li>Iceland</li>
          <li>Morrisons</li>
          <li>Ocado</li>
          <li>Sainsburys</li>
          <li>Tesco</li>
          <li>Waitrose</li>
      </ul>
      </div>
      "
    }) }}
{% endblock %}
