{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}
{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "priority_supermarket_deliveries",
      "name": "priority_supermarket_deliveries",
      "errorMessage": error_messages.get('priority_supermarket_deliveries'),
      "hint": {
        "html": "
        <div class=govuk-hint-text>
              <p>This just gives you priority. It does not mean you definitely get a delivery slot.</p>
        </div>
        "
      },
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "items": radio_items,
    }) }}
    {{ govukDetails({
      "summaryText": "How priority deliveries work",
      "html": "
      <div class='govuk-body'>
        <p>1. When you’ve finished using this service, go to a participating supermarket’s website and register to get deliveries. If you already get deliveries from one of the participating supermarkets, you can skip this step.</p>
        <p>2. Go to the supermarket’s website and book a delivery in the normal way. The supermarket should recognise you as a priority customer 1 to 7 days from when we confirm to them that you’re eligible for support. We’ll send you an email, text message or letter when we’ve confirmed that you’re eligible. You’ll get priority access up to 21 June.</p>

      <p>If you give us an email address, we’ll send you an email with this information when you’ve finished using this service.</p>
      <p>Participating supermarkets:</p>
      <ul class='govuk-list govuk-list--bullet'>
          <li>ASDA</li>
          <li>Iceland</li>
          <li>Morrisons</li>
          <li>Ocado</li>
          <li>Sainsbury's</li>
          <li>Tesco</li>
          <li>Waitrose</li>
      </ul>
        <p>We share your name, address and contact details with participating supermarkets so they can find you in their system and offer you priority access to deliveries.</p>
        <p>Supermarkets will keep this information until it’s clear that clinically extremely vulnerable people will not need this kind of support in future.</p>
      </div>
      "
    }) }}
{% endblock %}
