{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}
{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios -%}

{% extends "form-base.html" %}

{% block form_fields %}
    {{ govukRadios({
      "idPrefix": "priority_supermarket_deliveries",
      "name": "priority_supermarket_deliveries",
      "errorMessage": error_messages.get('priority_supermarket_deliveries'),
      "hint": {
        "html": "
        <div class=govuk-hint-text>
              <p>This just gives you priority. It does not mean you definitely get a delivery slot.</p>
        </div>
        <div class=govuk-warning-text>
              <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
              <strong class='govuk-warning-text__text'>
                <span class='govuk-warning-text__assistive'>Warning</span>
                Supermarkets have very few delivery slots left in December.
              </strong>
        </div>
        "
      },
      "fieldset": {
        "legend": {
          "text": title_text,
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "items": radio_items,
    }) }}
    <p class="govuk-body">If you want deliveries you’ll need an online account with a supermarket delivery service. If you do not have one already, go to the supermarket’s website and set up an account when you’ve finished using this service.</p>
    {{ govukDetails({
      "summaryText": "What information about you is shared with supermarkets?",
      "html": "
      <div class='govuk-body'>
      <p>We share your name, address and contact details with supermarkets so they can find you in their system and offer you priority deliveries.</p>
      <p>Supermarkets will keep this information until it’s clear that clinically extremely vulnerable people will not need this kind of support in future.</p>
      <p>Supermarkets involved:</p>
      <ul class='govuk-list govuk-list--bullet'>
          <li>ASDA</li>
          <li>Iceland</li>
          <li>Morrisons</li>
          <li>Ocado</li>
          <li>Sainsbury's</li>
          <li>Tesco</li>
          <li>Waitrose</li>
      </ul>
      </div>
      "
    }) }}
{% endblock %}
