{% extends "base-with-back-link.html" %}

{% block centered_content %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ title_text }}</h1>
  <p class="govuk-body">Last updated: 23 September 2020</p>
  <p class="govuk-body">This service is run by the Cabinet Office, working with:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the Ministry of Housing, Communities & Local Government</li>
    <li>the Department for Environment Food & Rural Affairs</li>
    <li>the Department for Work & Pensions</li>
    <li>the National Health Service (NHS)</li>
  </ul>
  <p class="govuk-body">We’ll use the personal information you provide through this service to help make sure that people with a medical condition that makes them extremely vulnerable to coronavirus get the support they need.</p>
  <p class="govuk-body">This privacy notice covers different parts of the service:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the current online service</li>
    <li>the previous version of the online service, available at <a class="govuk-link" href="https://www.gov.uk/coronavirus-extremely-vulnerable">www.gov.uk/coronavirus-extremely-vulnerable</a>, or the automated telephone service (both of which took registrations up to 17 July 2020)</li>
    <li>communications to and from our user support teams, including the National Shielding Service call centre and user support teams at local authorities</li>
    <li>online surveys and other tools we may use to get your feedback on the service</li>
  </ul>

  <h2 class="govuk-heading-m">Personal information</h2>
  <p class="govuk-body">The NHS provides us with the following personal information about individuals who are clinically extremely vulnerable to coronavirus:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>name</li>
    <li>address</li>
    <li>date of birth</li>
    <li>phone numbers</li>
    <li>NHS number</li>
    <li>gender</li>
  </ul>
  <p class="govuk-body">We also collect the following information through the service:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>name</li>
    <li>address</li>
    <li>date of birth</li>
    <li>email address</li>
    <li>contact details</li>
    <li>NHS number</li>
    <li>details of the support you need (for example, care needs or help getting essential supplies)</li>
  </ul>

  <h2 class="govuk-heading-m">Lawful basis for processing your personal information</h2>
  <p class="govuk-body">Under the General Data Protection Regulation (GDPR), we are processing this information on the basis that we’re carrying out a task in the public interest and to protect the vital interests of people more vulnerable to coronavirus.</p>
  <p class="govuk-body">This lawful basis applies to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>our processing of information shared with us by the NHS and other organisations which support the shielding service</li>
    <li>our processing of information you provide to us through the service and through your communications with us</li>
  </ul>
  <p class="govuk-body">Some of the information we hold is sensitive health and care information. This is classed as ‘special category’ personal data within the meaning of Schedule 1 to the Data Protection Act 2018, meaning we must state a further lawful basis for processing it. We’re also relying on substantial public interest and governmental purpose to process this information.</p>
  <p class="govuk-body">If you provide any information through the surveys or other tools we may use to get your feedback, we’ll process this information on the basis that we’re carrying out a task in the public interest.</p>

  <h2 class="govuk-heading-m">What we do with your information</h2>
  <p class="govuk-body">When you register with the service we ask for personal information about you (and the person who is shielding, if you’re using the service on behalf of someone else). We compare this information with information shared with us by the NHS to confirm whether you’re eligible for support through the service.</p>
  <p class="govuk-body">We use the information you provide to register you (if you’re eligible for support) and to keep you up to date with what’s happening with your registration by email, text message or letter.</p>
  <p class="govuk-body">We may ask for more information as part of any follow up contact with the service. We compare this information to the information we already have, to confirm that you are who you say you are if you contact us.</p>
  <p class="govuk-body">Where necessary, we then share your information with other organisations which support the service. This includes sharing your information with:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>local authorities, so they have accurate information on clinically extremely vulnerable people in their area and can provide support to people who need it</li>
    <li>participating supermarkets and other suppliers, so they can prioritise your orders if you have indicated that you need help getting supplies (when we do this, we share only the minimum information necessary to get support to you as quickly as possible - and we do not share confidential health and care information)</li>
    <li>organisations that we may engage to contact shielding people to make sure they have the support they need</li>
    <li>organisations that we may engage to get your feedback on how well the service is working - for example, by carrying out a survey</li>
  </ul>
  <p class="govuk-body">We may also share relevant parts of your information with other government departments, NHS bodies and other public sector and private sector organisations - depending on what’s necessary to get people the support they need.</p>
  <p class="govuk-body">We may use your information to produce de-identified data and share this data with other government departments to improve services, understand changing patterns of support needs or identify new support needs. Any data we share for this purpose won’t identify you personally.</p>

  <h2 class="govuk-heading-m">While the service was closed for new registrations</h2>
  <p class="govuk-body">The previous version of the service closed to new registrations in July 2020. After this, we continued to receive:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>information from the NHS about people who are clinically extremely vulnerable to coronavirus</li>
    <li>information from some supermarkets (for example, about people who were unable to register for priority delivery slots in areas with local restrictions in place)</li>
  </ul>
  <p class="govuk-body">We used this information to make sure that we have accurate, up to date records and could restart the service quickly in the future. We also shared this information with local authorities so they had accurate data on clinically extremely vulnerable people in their area and could provide support where it was needed.</p>

  <h2 class="govuk-heading-m">How long we keep your information</h2>
  <p class="govuk-body">We and the organisations we share your information with will only keep your personal information for as long as we need it:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>to check that you’re eligible for support</li>
    <li>to make sure that people who are clinically extremely vulnerable to coronavirus have access to the support they need, while there’s a chance that people will be asked to ‘shield’ because of coronavirus</li>
    <li>to make sure this service is meeting overall demand from clinically extremely vulnerable people</li>
    <li>to help with the overall government response to coronavirus</li>
  </ul>

  <h2 class="govuk-heading-m">Where your information is processed and stored</h2>
  <p class="govuk-body">Your personal information may be transferred outside the UK while being processed. If this happens, we’ll make sure your information is given the same level of technical and legal data protection as it has within the UK.</p>

  <h2 class="govuk-heading-m">How we protect your information</h2>
  <p class="govuk-body">We’re committed to doing all that we can to keep your information secure. We have set up systems and processes to prevent unauthorised access to or disclosure of the data we collect about you. For example, we protect your data using varying levels of encryption.</p>
  <p class="govuk-body">All third parties that process personal information as part of delivering the service are required to keep that information secure. Our data processor is Amazon Web Services, who provide cloud hosting services. We also work with Methods Consulting who assist with the design of the service.</p>

  <h2 class="govuk-heading-m">NHS login</h2>
  <p class="govuk-body">If you want to, you can create an NHS login and use it to confirm your identity when you use the service online.</p>
  <p class="govuk-body">If you create and use an NHS login, you will be providing personal information to NHS Digital. NHS Digital is the data controller for any personal information you provide to create or access your NHS login. Our role is as a processor of this information - meaning that we act according to NHS Digital’s instructions when processing this information.</p>
  <p class="govuk-body">See the <a class="govuk-link" href="https://account.login.nhs.uk/#/account/termsofuse/privacynotice">NHS login privacy notice</a> for details.</p>

  <h2 class="govuk-heading-m">Your rights</h2>
  <p class="govuk-body">In certain circumstances you have the right to ask for your information to be deleted by contacting the data controller. We may need to refuse your request if the information is needed as part of the emergency response to coronavirus.</p>
  <p class="govuk-body">You also have the right to request:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>information about how your personal information is processed, and to request a copy of that personal data</li>
    <li>that any inaccuracies in your personal information are rectified without delay</li>
    <li>that any incomplete personal information is updated - you can include the missing information in your request</li>
    <li>that the processing of your personal information is restricted in certain circumstances - for example, where accuracy is contested</li>
  </ul>
  <p class="govuk-body">You also have the right to object to the processing of your data.</p>
  <p class="govuk-body">If you want to make any of these requests, contact us using the details below.</p>

  <h2 class="govuk-heading-m">Questions and complaints</h2>
  <p class="govuk-body">The contact details for the data controller are:</p>
  <ul class="govuk-list">
    <li>Cabinet Office (Government Digital Service),<br>The White Chapel Building,<br> 10 Whitechapel High Street, <br>London, E1 8QS</li>
    <li><a class="govuk-link" href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a></li>
  </ul>
  <p class="govuk-body">The contact details for the data controller’s Data Protection Officer are:</p>
  <ul class="govuk-list">
    <li>Stephen Jones,<br> Data Protection Officer,<br> Cabinet Office,<br>Room 405, 70 Whitehall,<br> London, SW1A 2AS</li>
    <li><a class="govuk-link" href="mailto:dpo@cabinetoffice.gov.uk">dpo@cabinetoffice.gov.uk</a></li>
  </ul>
  <p class="govuk-body">The Data Protection Officer provides independent advice and monitoring of Cabinet Office’s use of personal information.</p>
  <p class="govuk-body">If you consider that your personal information has been misused or mishandled, you can make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:</p>
  <ul class="govuk-list">
    <li>Information Commissioner’s Office, <br>Wycliffe House,<br> Water Lane,<br> Wilmslow,<br> Cheshire, SK9 5AF</li>
    <li><a class="govuk-link" href="tel:+443031231113">0303 123 1113</a></li>
    <li><a class="govuk-link" href="mailto:casework@ico.org.uk">casework@ico.org.uk</a></li>
  </ul>
  <p class="govuk-body">Any complaint to the Information Commissioner won’t affect your right to seek redress through the courts.</p>

  <h2 class="govuk-heading-m">Changes to this notice</h2>
  <p class="govuk-body">We may change this privacy notice. When we make changes to this notice, the ‘last updated’ date at the top of this page will also change. Any changes to this privacy notice will apply to you and your information immediately. If these changes affect how your personal information is processed, the Cabinet Office will take reasonable steps to make sure you know.</p>

  <h2 class="govuk-heading-m">Notes</h2>
  <p class="govuk-body">Please note that if you access our service using your NHS login details, the identity verification services are managed by NHS Digital. NHS Digital is the controller for any personal information you provided to NHS Digital to get an NHS login account and verify your identity, and uses that personal information solely for that single purpose. For this personal information, our role is a “processor” only and we must act under the instructions provided by NHS Digital (as the “controller”) when verifying your identity. To see NHS Digital’s Privacy Notice and Terms and Conditions, please <a class="govuk-link" href="https://account.login.nhs.uk/#/account/termsofuse/termsandconditions">click here</a>. This restriction does not apply to the personal information you provide to us separately.</p>
{% endblock %}
