{%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}

{% extends "base-with-home-breadcrumb.html" %}

{% block centered_content %}
    <form method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if error_list != None and error_list|length > 0 %}
            {{ govukErrorSummary({
              "titleText": "There is a problem",
              "errorList": error_list            
             }) }}
         {% endif %}
        {{ govukRadios({
          "idPrefix": "view_or_setup",
          "name": "view_or_setup",
          "errorMessage": error_messages.get('view_or_setup'),
          "fieldset": {
            "legend": {
              "text": title_text, 
              "isPageHeading": true,
              "classes": "govuk-fieldset__legend--xl"
            }
          },
          "items": radio_items,
        }) }}
        {{ govukButton({
          "text": "Continue",
          "type": "Submit",
          "preventDoubleClick": true,
        }) }}
    </form>
{% endblock %}
