---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: maven
    tag: 3.6.3-ibmjava-8-alpine
inputs:
  - name: git-master
outputs:
  - name: gatling-results
    path: git-master/loadtests/target/gatling
run:
  path: /bin/bash
  args:
    - -euo
    - pipefail
    - -c
    # 4 users per second causes around 100 page requests/s which is our current non-functional requirement. 
    # Run simulation for 30 mins (1800s) to ensure workflow + mi workflow execution time is covered.
    # Suppress html file output (doesn't seem possible to completely remove file output...)
    # Suppress console log to final report only (done by turning off console writer)
    # Temporarily increase to 7 to test 200-ish users.
    - |
      cd loadtests
      mvn gatling:test \
        -DinjectUsersPerSecond=7 \
        -DinjectDurationSeconds=1800 \
        -DpauseBetweenRequestsInSecondsMax=1 \
        -DpauseBetweenRequestsInSecondsMin=1 \
        -DnumberOfRepetitions=1 \
        -Dgatling.simulationClass=svp.SvpSimulationConstantUsersPerSec \
        -Dgatling.data.writers.0=file \
        -Dgatling.data.charting.indicators.lowerBound=1000 \
        -Dgatling.data.charting.indicators.higherBound=1500 \

  dir: git-master
